<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Codino{% endblock %}</title>
</head>
<body>
    <div>
        Codino:
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.plans') }}">Plans</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('dashboard.index') }}">Dashboard</a> | <a href="{{ url_for('auth.logout') }}">Logout ({{ current_user.email }})</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
